
<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>

<div class="container">
  <input
    type="text"
    class="mt-5 border p-4 w-full rounded-full"
    [(ngModel)]="searchText"
    (input)="searchByWord()"
    placeholder="Search..."
  />

  <div class="example-container mat-elevation-z8 mt-4">
    <mat-table #table [dataSource]="users">
      <!-- avatar ID -->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.id }} </mat-cell>
      </ng-container>
      <!-- avatar Column -->
      <ng-container matColumnDef="avatar">
        <mat-header-cell *matHeaderCellDef> User </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <img [src]="element.avatar" class="w-20 p-4 rounded-full" />
        </mat-cell>
      </ng-container>

      <!-- first_name Column -->
      <ng-container matColumnDef="first_name">
        <mat-header-cell *matHeaderCellDef> First name </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.first_name }}
        </mat-cell>
      </ng-container>

      <!-- last_name Column -->
      <ng-container matColumnDef="last_name">
        <mat-header-cell *matHeaderCellDef> Last Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.last_name }} </mat-cell>
      </ng-container>

      <!-- Email Column -->
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.email }} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row
        *matRowDef="let row; columns: displayedColumns"
        (click)="rowClick(row.id)"
      ></mat-row>
    </mat-table>
  </div>
  <app-pagination
    [totalPages]="totalPages"
    [pageNumbers]="pageNumbers"
    [currentPage]="currentPage"
    (pageChanged)="getUsersFor($event)"
  >
  </app-pagination>
</div>
